/*  your css code here. If applicable */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #000;
    max-width: 800px;
    text-align: center;
}

#verification_subtext {
    margin-bottom: 30px;
    color: #333;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.code {
    width: 100px;
    height: 120px;
    font-size: 70px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    font-weight: 300;
    color: #555;
}


.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.info-box {
    background-color: #eee;
    padding: 15px;
    color: #777;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
}